.feedback-container {
    background-color: black; 
    color: cyan; 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: xx-large;
}

.empty_text{
    font-size: xx-large;
    color: cyan;
    margin-top: 400px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid gold;
    font-size: x-large;
}

th {
    background-color: #333; 
}

img {
    height: auto;
    border-radius: 5px;
}

td:nth-child(1) img {
    max-width: 250px; 
}

td:nth-child(2) {
    width: 30%;
}

td:nth-child(3) {
    width: 20%;
}

td:nth-child(4) {
    width: 20%; 
}

select {
    width: 30%; 
    padding: 5px; 
    font-size: medium;
    color: black;
    background-color: cyan;
    font-weight: bolder;
    text-align: center;
    border: 4px solid green;
}

.button-select button {
    width: 30%;
    text-align: center;
    font-size: x-large;
    color: black;
    background-color: cyan;
    border: 4px solid green;
}

.feedback-buttons {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 10px;
}

.feedback-buttons button {
    margin-left: 10%;
    width: 50%;
    background-color: cyan;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: x-large;
    border: 4px solid green;
    margin-right: 10%;
}

.feedback-buttons button:hover {
    background-color: green;
    border: 4px solid cyan;
}
